#vendeur.container

  .profile-panel
    .media
      .media-left.media-middle
        img.profile-img.img-circle(src="img/vendeurs/yann.jpg")
      .media-body
        .col-md-8.margin-top
          h3.media-heading Yann  le marchand de rêve
          p "votre vendeur préferé prêt à tout pour vous rendre service"
        .col-md-4
          .row.margin-bottom
            button.btn.btn-default(type="button")
              i.fa.fa-envelope-o.fa-fw
              span &nbsp;Contacter Yann
          .row
            button.btn.btn-default(type="button")
              i.fa.fa-shopping-cart.fa-fw
              span &nbsp;Commander des fruits / légumes à Yann
        
  .col-md-6.bio-panel
    .panel
      .panel-heading
        i.fa.fa-2x.fa-search
        h3.margin-left.inline A propos
      .panel-body
        p J'ai une passion pour les tomates et les carottes, venez me rencontrer pour en dicuter
        | et aime surtout
        
    
  .col-md-6.no-padding
    .panel
      .panel-heading
        img.margin-bottom(src="img/marchambul-icon.png")
        h3.margin-left.inline Ses tournées
      .panel-body
        ul.list-tournees
          li 
            .col-md-5.no-padding
              span Tournée à l'île-Saint-Denis
            .col-md-4.no-padding
              i.fa.fa-calendar-o
                span.icon-label 05 juillet 2015
              i.fa.fa-clock-o
                span.icon-label 15h-18h
            .col-md-3.no-padding
              button.btn.btn-default.button-table.pull-right(type="button")
                i.fa.fa-eye.fa-fw
                span &nbsp;voir détails
                
          li 
            .col-md-5.no-padding
              span J'ambule dans le 18ème
            .col-md-4.no-padding
              i.fa.fa-calendar-o
                span.icon-label 08 juillet 2015
              i.fa.fa-clock-o
                span.icon-label 10h-15h
            .col-md-3.no-padding
              button.btn.btn-default.button-table.pull-right(type="button")
                i.fa.fa-eye.fa-fw
                span &nbsp;voir détails
                
          li 
            .col-md-5.no-padding
              span Retrouvez moi à Saint-Ouen
            .col-md-4.no-padding
              i.fa.fa-calendar-o
                span.icon-label 10 juillet 2015
              i.fa.fa-clock-o
                span.icon-label 9h-17h
            .col-md-3.no-padding
              button.btn.btn-default.button-table.pull-right(type="button")
                i.fa.fa-eye.fa-fw
                span &nbsp;voir détails
    
    
      
      
